Li-garnets

temperature      750
pressure           0
ensemble         nve hoover 1.0 1.0

steps          60000
equilibration  50000
scale every    1
print          10
stats          10
binsize        0.1
rdf            1
print rdf
vaf 1 2000 
print vaf

cap

traj  55000 1 1

timestep         0.001 
cutoff           12.0 
delr width       1.0
rvdw cutoff      12.0
ewald precision  5.0000E-06

job time    100000.0
close time   100.0

finish



